//font
$Black: "Poppins-Black";
$Bold: "Poppins-Bold";
$ExtraBold: "Poppins-ExtraBold";
$ExtraLight: "Poppins-ExtraLight";
$Light: "Poppins-Light";
$Medium: "Poppins-Medium";
$Regular: "Poppins-Regular";
$SemiBold: "Poppins-SemiBold";
//colors
$orange: #ff9800;
$orange2: #fcfaf6;
$green: #18a762;
$dark: #25363f;
$backround: #fafafa;
$grey5: #d9d9d9;
$lightgrey: #f5f5f5;
$dpyello: #ffbc49;
$dgrey: #bcbcbc;
$grey: #d3d3d3;
$balck: #222222;
$dasbd: #f4f6f8;
$Green: #34b628;
$GreyGreen: #878f86;
$fullblack: #000000;
